.inline {
  display: inline-block; }

.full {
  width: 100%; }

.line-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }
  .line-content > .number-box {
    flex-grow: 1; }
  .line-content > .content-box {
    flex-grow: 15; }
