.inline {
  display: inline-block; }

.full {
  width: 100%; }

.line-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative; }
  .line-content > .content-box {
    flex-grow: 1;
    padding: 0 0 0 10px; }

.proc-text {
  width: 100%;
  padding: 0;
  border: none;
  resize: none; }

.item-menu-container {
  position: absolute;
  top: -40px;
  right: -30px;
  z-index: 10; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px; }
  .sidebar.show {
    animation-name: show-sidebar;
    animation-duration: 0.5s; }
  .sidebar.hide {
    animation-name: hide-sidebar;
    animation-duration: 0.25s;
    right: -60px; }

@keyframes show-sidebar {
  from {
    right: -60px; }
  to {
    right: 0; } }

@keyframes hide-sidebar {
  from {
    right: 0; }
  to {
    right: -60px; } }
