.inline {
  display: inline-block;
}

.full {
  width: 100%;
}

.line-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
  > .number-box {
  }
  > .content-box {
    flex-grow: 1;
    padding: 0 0 0 10px;
  }
}

.proc-text {
  width: 100%;
  padding: 0;
  border: none;
  resize: none;
}

.item-menu-container {
  position: absolute;
  top: -40px;
  right: -30px;
  z-index: 10;
}